<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>GP Crew-Time</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

    -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>



.top {
  vertical-align: top;
}


    body {
        background-color: lightgrey;
        font-size: 16px;
        font-family: Helvetica, Georgia

    }


    select {
       font-size: 16px;
    }

    .button {
        background-color: blue;
        border: 2px solid black;;
        color: green;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
    }


    .div-outer{
        border-style: solid;
        border-width: 0px;
        padding-top: 30px;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 200px;
        border-color: green;
        background: lightgrey;
    }



    .div-page{
        border-style: solid;
        border-width: 3px;
        padding-top: 20px;
        padding-right: 30px;
        padding-bottom: 20px;
        padding-left: 30px;
        border-color: black;
        background: white;
    }


    .div-header{
        border-style: solid;
        border-width: 0px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-color: red;
        background: white;
        border-top: 3px solid orange;
        border-bottom: 3px solid orange;
    }

    .time-row-1{
        border-style: solid;
        border-width: 0px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-color: blue;
        background: white;
    }


    .time-row-2{
        border-style: solid;
        border-width: 0px;
        padding-top: 5px;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-left: 10px;
        border-color: blue;
        background: #f7e9cd;
    }


    .time-row-header{
        border-style: solid;
        border-width: 0px;
        border-top: 3px solid orange;
        border-bottom: 3px solid orange;
        font-size: 16px;
        font-weight: 700;
        padding-right: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
        padding-left: 10px;
        background: white;
    }

    tr.border-bottom td {
      border-bottom:  1px solid black;
    }

    tr.border-top td {
      border-top:1pt solid black;
    }

    tr.bold-text td {
      font-weight: 700;
    }






   </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
