<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>GP Crew-Time</title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-cyan.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />

    -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>

    .button {
        background-color: blue;
        border: 2px solid black;;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 24px;
        margin: 4px 2px;
        cursor: pointer;
    }

.top {
  vertical-align: top;
}


    body {
        background-color: lightgrey;
        font-size: 24px;
        font-family: Helvetica, Georgia

    }


    select {
       font-size: 24px;
    }


    #screenDiv {
        background-color: darkslategray;
        margin: auto;
        margin-top: 10%;
        margin-bottom: 10%;
        border: 3px solid lightgrey;
        width: 250px;
        min-height: 30px;
        vertical-align: middle;
        text-align: right;
        padding: 10px;
        color:lightgreen;
        font-family: Courier;
        font-size:25px

    }





   </style>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
